language: go
go:
  - 1.7

install:
  - go get github.com/go-stack/stack
  - go get github.com/jjeffery/errors
  - go get github.com/jjeffery/kv
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
  - go test -v -covermode=count -coverprofile=coverage.out
  - $GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci

